.btn{
    width: 100%;
    background-color: #6460D1; 
    color: white;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
.col-md-1 img{
    width: 25px;
    margin-top: 5px;
}
.m-2{
    width: 25px; 
}

label{
    margin-top: 0px;
}

span{
    color: red;
}

select{
    padding: 10px;
}

hr{
    width: 100%;
   color: #6460D1;
   margin: 5px 0 10px 0; 
}
